{% extends "layout.html" %}
{% block main %}

<main>
    <br>
    <div class="container">
        <form id="settingsForm" action="/settings" method="post" novalidate>

            <!-- Reddit Credentials -->
            <p class="h4">Reddit 账号</p>
            <div class="row mb-2">
                <label for="username" class="col-4">Reddit 用户名</label>
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-person-fill"></i>
                        </div>
                        <input name="username" value="{{ data.username }}" placeholder="你的 Reddit 账号用户名"
                            type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="password" class="col-4">Reddit 密码</label>
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-lock-fill"></i>
                        </div>
                        <input name="password" value="{{ data.password }}" placeholder="你的 Reddit 账号密码"
                            type="password" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label class="col-4">是否开启了 Reddit 两步验证（2FA）？</label>
                <div class="col-8">
                    <div class="form-check form-switch">
                        <input name="2fa" class="form-check-input" type="checkbox" value="True" data-toggle="tooltip"
                            data-original-title='如果你的 Reddit 账号已开启两步验证，请勾选此项'>
                    </div>
                </div>
            </div>

            <!-- Reddit Thread -->
            <p class="h4">Reddit 帖子设置</p>
            <div class="row mb-2">
                <label class="col-4">随机帖子</label>
                <div class="col-8">
                    <div class="form-check form-switch">
                        <input name="random" class="form-check-input" type="checkbox" value="True" data-toggle="tooltip"
                            data-original-title='启用后随机抓取帖子，禁用后需手动输入帖子链接'>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="subreddit" class="col-4">子版块（Subreddit）</label>
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-reddit"></i>
                        </div>
                        <input value="{{ data.subreddit }}" name="subreddit" type="text" class="form-control"
                            placeholder="要抓取帖子的子版块名称（如 AskReddit）" data-toggle="tooltip"
                            data-original-title='可填写多个子版块，用"+"分隔（如 AskReddit+Redditdev）'>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="post_id" class="col-4">帖子 ID</label>
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-file-text"></i>
                        </div>
                        <input value="{{ data.post_id }}" name="post_id" type="text" class="form-control"
                            placeholder="指定使用某个帖子时填写（如 urdtfx）">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="max_comment_length" class="col-4">评论最大长度</label>
                <div class="col-8">
                    <div class="input-group">
                        <input name="max_comment_length" type="range" class="form-range" min="10" max="10000" step="1"
                            value="{{ data.max_comment_length }}" data-toggle="tooltip"
                            data-original-title="{{ data.max_comment_length }}">
                    </div>
                    <span class="form-text text-muted">评论的最大字符数。</span>
                </div>
            </div>
            <div class="row mb-2">
                <label for="post_lang" class="col-4">帖子语言</label>
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-translate"></i>
                        </div>
                        <input value="{{ data.post_lang }}" name="post_lang" type="text" class="form-control"
                            placeholder="要翻译的目标语言（如 zh-CN）">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="min_comments" class="col-4">最少评论数</label>
                <div class="col-8">
                    <div class="input-group">
                        <input name="min_comments" type="range" class="form-range" min="15" max="1000" step="1"
                            value="{{ data.min_comments }}" data-toggle="tooltip"
                            data-original-title="{{ data.min_comments }}">
                    </div>
                    <span class="form-text text-muted">帖子至少需要有多少条评论才会被选中。</span>
                </div>
            </div>

            <!-- General Settings -->
            <p class="h4">通用设置</p>
            <div class="row mb-2">
                <label class="col-4">允许 NSFW 内容</label>
                <div class="col-8">
                    <div class="form-check form-switch">
                        <input name="allow_nsfw" class="form-check-input" type="checkbox" value="True"
                            data-toggle="tooltip" data-original-title='勾选后允许抓取 NSFW（限制级）帖子'>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="theme" class="col-4">Reddit 主题</label>
                <div class="col-8">
                    <select name="theme" class="form-select" data-toggle="tooltip"
                        data-original-title='设置 Reddit 截图的主题风格'>
                        <option value="dark">深色</option>
                        <option value="light">浅色</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <label for="times_to_run" class="col-4">运行次数</label>
                <div class="col-8">
                    <div class="input-group">
                        <input name="times_to_run" type="range" class="form-range" min="1" max="1000" step="1"
                            value="{{ data.times_to_run }}" data-toggle="tooltip"
                            data-original-title="{{ data.times_to_run }}">
                    </div>
                    <span class="form-text text-muted">设置自动生成多个视频时的运行次数。</span>
                </div>
            </div>
            <div class="row mb-2">
                <label for="opacity" class="col-4">评论透明度</label>
                <div class="col-8">
                    <div class="input-group">
                        <input name="opacity" type="range" class="form-range" min="0" max="1" step="0.05"
                            value="{{ data.opacity }}" data-toggle="tooltip" data-original-title="{{ data.opacity }}">
                    </div>
                    <span class="form-text text-muted">评论截图叠加在背景上时的透明度。</span>
                </div>
            </div>
            <div class="row mb-2">
                <label for="transition" class="col-4">过渡时长</label>
                <div class="col-8">
                    <div class="input-group">
                        <input name="transition" type="range" class="form-range" min="0" max="2" step="0.05"
                            value="{{ data.transition }}" data-toggle="tooltip"
                            data-original-title="{{ data.transition }}">
                    </div>
                    <span class="form-text text-muted">评论之间的过渡时长（秒），设为 0 可禁用过渡。</span>
                </div>
            </div>
            <div class="row mb-2">
                <label for="background_choice" class="col-4">背景视频</label>
                <div class="col-8">
                    <select name="background_choice" class="form-select" data-toggle="tooltip"
                        data-original-title='设置视频的背景画面'>
                        <option value=" ">随机视频</option>
                        {% for background in checks["background_video"]["options"][1:] %}
                        <option value="{{background}}">{{background}}</option>
                        {% endfor %}
                    </select>
                    <span class="form-text text-muted"><a href="/backgrounds" target="_blank">查看所有可用背景</a></span>
                </div>
            </div>
            <div class="row mb-2">
                <label for="background_thumbnail" class="col-4">生成封面图</label>
                <div class="col-8">
                    <div class="form-check form-switch">
                        <input name="background_thumbnail" class="form-check-input" type="checkbox" value="True"
                            data-toggle="tooltip"
                            data-original-title='勾选后为视频生成封面图（需在 assets/backgrounds 目录放置 thumbnail.png）'>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="background_thumbnail_font_family" class="col-4">封面字体（.ttf）</label>
                <div class="col-8">
                    <input name="background_thumbnail_font_family" type="text" class="form-control"
                        placeholder="arial" value="{{ data.background_thumbnail_font_family }}">
                </div>
            </div>
            <div class="row mb-2">
                <label for="background_thumbnail_font_size" class="col-4">封面字体大小（px）</label>
                <div class="col-8">
                    <input name="background_thumbnail_font_size" type="number" class="form-control"
                        placeholder="96" value="{{ data.background_thumbnail_font_size }}">
                </div>
            </div>
            <!-- need to create a color picker -->
            <div class="row mb-2">
                <label for="background_thumbnail_font_color" class="col-4">封面字体颜色（RGB）</label>
                <div class="col-8">
                    <input name="background_thumbnail_font_color" type="text" class="form-control"
                        placeholder="255,255,255" value="{{ data.background_thumbnail_font_color }}">
                </div>
            </div>

            <!-- TTS Settings -->
            <p class="h4">语音合成（TTS）设置</p>
            <div class="row mb-2">
                <label for="voice_choice" class="col-4">TTS 引擎选择</label>
                <div class="col-8">
                    <select name="voice_choice" class="form-select" data-toggle="tooltip"
                        data-original-title='选择语音合成引擎'>
                        <option value="streamlabspolly">Streamlabs Polly</option>
                        <option value="tiktok">TikTok</option>
                        <option value="googletranslate">Google 翻译</option>
                        <option value="awspolly">AWS Polly</option>
                        <option value="pyttsx">本地 TTS（pyttsx）</option>
                    </select>
                </div>
            </div>
            <div class="row mb-2">
                <label for="aws_polly_voice" class="col-4">AWS Polly 音色</label>
                <div class="col-8">
                    <div class="input-group voices">
                        <select name="aws_polly_voice" class="form-select" data-toggle="tooltip"
                            data-original-title='AWS Polly 使用的音色'>
                            <option value="Brian">Brian</option>
                            <option value="Emma">Emma</option>
                            <option value="Russell">Russell</option>
                            <option value="Joey">Joey</option>
                            <option value="Matthew">Matthew</option>
                            <option value="Joanna">Joanna</option>
                            <option value="Kimberly">Kimberly</option>
                            <option value="Amy">Amy</option>
                            <option value="Geraint">Geraint</option>
                            <option value="Nicole">Nicole</option>
                            <option value="Justin">Justin</option>
                            <option value="Ivy">Ivy</option>
                            <option value="Kendra">Kendra</option>
                            <option value="Salli">Salli</option>
                            <option value="Raveena">Raveena</option>
                        </select>

                        <button type="button" class="btn btn-primary"><i id="awspolly_icon"
                                class="bi-volume-up-fill"></i></button>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="streamlabs_polly_voice" class="col-4">Streamlabs Polly 音色</label>
                <div class="col-8">
                    <div class="input-group voices">
                        <select id="streamlabs_polly_voice" name="streamlabs_polly_voice" class="form-select"
                            data-toggle="tooltip" data-original-title='Streamlabs Polly 使用的音色'>
                            <option value="Brian">Brian</option>
                            <option value="Emma">Emma</option>
                            <option value="Russell">Russell</option>
                            <option value="Joey">Joey</option>
                            <option value="Matthew">Matthew</option>
                            <option value="Joanna">Joanna</option>
                            <option value="Kimberly">Kimberly</option>
                            <option value="Amy">Amy</option>
                            <option value="Geraint">Geraint</option>
                            <option value="Nicole">Nicole</option>
                            <option value="Justin">Justin</option>
                            <option value="Ivy">Ivy</option>
                            <option value="Kendra">Kendra</option>
                            <option value="Salli">Salli</option>
                            <option value="Raveena">Raveena</option>
                        </select>

                        <button type="button" class="btn btn-primary"><i id="streamlabs_icon"
                                class="bi bi-volume-up-fill"></i></button>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="tiktok_voice" class="col-4">TikTok 音色</label>
                <div class="col-8">
                    <div class="input-group voices">
                        <select name="tiktok_voice" class="form-select" data-toggle="tooltip"
                            data-original-title='TikTok TTS 使用的音色'>
                            <option disabled value="">-----迪士尼音色-----</option>
                            <option value="en_us_ghostface">Ghost Face</option>
                            <option value="en_us_chewbacca">Chewbacca</option>
                            <option value="en_us_c3po">C3PO</option>
                            <option value="en_us_stitch">Stitch</option>
                            <option value="en_us_stormtrooper">Stormtrooper</option>
                            <option value="en_us_rocket">Rocket</option>
                            <option disabled value="">-----英语音色-----</option>
                            <option value="en_au_001">英语（澳大利亚）- 女声</option>
                            <option value="en_au_002">英语（澳大利亚）- 男声</option>
                            <option value="en_uk_001">英语（英国）- 男声 1</option>
                            <option value="en_uk_003">英语（英国）- 男声 2</option>
                            <option value="en_us_001">英语（美国）- 女声 1</option>
                            <option value="en_us_002">英语（美国）- 女声 2</option>
                            <option value="en_us_006">英语（美国）- 男声 1</option>
                            <option value="en_us_007">英语（美国）- 男声 2</option>
                            <option value="en_us_009">英语（美国）- 男声 3</option>
                            <option value="en_us_010">英语（美国）- 男声 4</option>
                            <option disabled value="">-----欧洲音色-----</option>
                            <option value="fr_001">法语 - 男声 1</option>
                            <option value="fr_002">法语 - 男声 2</option>
                            <option value="de_001">德语 - 女声</option>
                            <option value="de_002">德语 - 男声</option>
                            <option value="es_002">西班牙语 - 男声</option>
                            <option disabled value="">-----美洲音色-----</option>
                            <option value="es_mx_002">墨西哥西班牙语 - 男声</option>
                            <option value="br_001">巴西葡萄牙语 - 女声 1</option>
                            <option value="br_003">巴西葡萄牙语 - 女声 2</option>
                            <option value="br_004">巴西葡萄牙语 - 女声 3</option>
                            <option value="br_005">巴西葡萄牙语 - 男声</option>
                            <option disabled value="">-----亚洲音色-----</option>
                            <option value="id_001">印度尼西亚语 - 女声</option>
                            <option value="jp_001">日语 - 女声 1</option>
                            <option value="jp_003">日语 - 女声 2</option>
                            <option value="jp_005">日语 - 女声 3</option>
                            <option value="jp_006">日语 - 男声</option>
                            <option value="kr_002">韩语 - 男声 1</option>
                            <option value="kr_003">韩语 - 女声</option>
                            <option value="kr_004">韩语 - 男声 2</option>
                        </select>

                        <button type="button" class="btn btn-primary"><i id="tiktok_icon"
                                class="bi-volume-up-fill"></i></button>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="tiktok_sessionid" class="col-4">TikTok SessionId</label>
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-mic-fill"></i>
                        </div>
                        <input value="{{ data.tiktok_sessionid }}" name="tiktok_sessionid" type="text" class="form-control"
                            data-toggle="tooltip"
                            data-original-title="使用 TikTok TTS 时需要填写的 sessionid，获取方式请查阅文档">
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="python_voice" class="col-4">本地 TTS 音色序号</label>
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-mic-fill"></i>
                        </div>
                        <input value="{{ data.python_voice }}" name="python_voice" type="text" class="form-control"
                            data-toggle="tooltip"
                            data-original-title='系统 TTS 音色的序号（从 0 开始，可运行 ptt.py 查看）'>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="py_voice_num" class="col-4">系统音色总数</label>
                <div class="col-8">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-headset"></i>
                        </div>
                        <input value="{{ data.py_voice_num }}" name="py_voice_num" type="text" class="form-control"
                            data-toggle="tooltip"
                            data-original-title='系统已安装的 TTS 音色总数（Windows 默认预装 2 个）'>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <label for="silence_duration" class="col-4">静音间隔时长</label>
                <div class="col-8">
                    <div class="input-group">
                        <input name="silence_duration" type="range" class="form-range" min="0" max="5" step="0.05"
                            value="{{ data.silence_duration }}" data-toggle="tooltip"
                            data-original-title="{{ data.silence_duration }}">
                    </div>
                    <span class="form-text text-muted">每段 TTS 评论之间的静音时长（秒）。</span>
                </div>
            </div>
            <div class="col text-center">
                <br>
                <button id="defaultSettingsBtn" type="button" class="btn btn-secondary">恢复默认</button>
                <button id="submitButton" type="submit" class="btn btn-success">保存设置</button>
            </div>
        </form>
    </div>
    <audio src=""></audio>
</main>

<script>
    // Test voices buttons
    var playing = false;

    $(".voices button").click(function () {
        var icon = $(this).find("i");
        var audio = $("audio");

        if (playing) {
            playing.toggleClass("bi-volume-up-fill bi-stop-fill");

            // Clicked the same button - stop audio
            if (playing.prop("id") == icon.prop("id")) {
                audio[0].pause();
                playing = false;
                return;
            }
        }

        icon.toggleClass("bi-volume-up-fill bi-stop-fill");
        let path = "voices/" + $(this).closest(".voices").find("select").prop("value").toLowerCase() + ".mp3";

        audio.prop("src", path);
        audio[0].play();
        playing = icon;

        audio[0].onended = function () {
            icon.toggleClass("bi-volume-up-fill bi-stop-fill");
            playing = false;
        }
    });

    // Wait for DOM to load
    $(document).ready(function () {
        // Add tooltips
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="tooltip"]').on('click', function () {
            $(this).tooltip('hide');
        });

        // Update slider tooltip
        $(".form-range").on("input", function () {
            $(this).attr("value", $(this).val());
            $(this).attr("data-original-title", $(this).val());
            $(this).tooltip("show");
        });

        // Get current config
        var data = JSON.parse('{{data | tojson}}');

        // Set current checkboxes
        $('.form-check-input').each(function () {
            $(this).prop("checked", data[$(this).prop("name")]);
        });

        // Set current select options
        $('.form-select').each(function () {
            $(this).prop("value", data[$(this).prop("name")]);
        });

        // Submit "False" when checkbox isn't ticked
        $('#settingsForm').submit(function () {
            $('.form-check-input').each(function () {
                if (!($(this).is(':checked'))) {
                    $(this).prop("value", "False");
                    $(this).prop("checked", true);
                }
            });
        });


        // Get validation values
        let validateChecks = JSON.parse('{{checks | tojson}}');

        // Set default values
        $("#defaultSettingsBtn").click(function (event) {
            $("#settingsForm input, #settingsForm select").each(function () {
                let check = validateChecks[$(this).prop("name")];

                if (check["default"]) {
                    $(this).prop("value", check["default"]);

                    // Update tooltip value for input[type="range"]
                    if ($(this).prop("type") == "range") {
                        $(this).attr("data-original-title", check["default"]);
                    }
                }
            });
        });

        // Validate form
        $('#settingsForm').submit(function (event) {
            $("#settingsForm input, #settingsForm select").each(function () {
                if (!(validate($(this)))) {
                    event.preventDefault();
                    event.stopPropagation();

                    $("html, body").animate({
                        scrollTop: $(this).offset().top
                    });
                }

            });
        });

        $("#settingsForm input").on("keyup", function () {
            validate($(this));
        });

        $("#settingsForm select").on("change", function () {
            validate($(this));
        });

        function validate(object) {
            let bool = check(object.prop("name"), object.prop("value"));

            // Change class
            if (bool) {
                object.removeClass("is-invalid");
                object.addClass("is-valid");
            }
            else {
                object.removeClass("is-valid");
                object.addClass("is-invalid");
            }

            return bool;

            // Check values (return true/false)
            function check(name, value) {
                let check = validateChecks[name];

                // If value is empty - check if it's optional
                if (value.length == 0) {
                    if (check["optional"] == false) {
                        return false;
                    }
                    else {
                        object.prop("value", check["default"]);
                        return true;
                    }
                }

                // Check if value is too short
                if (check["nmin"]) {
                    if (check["type"] == "int" || check["type"] == "float") {
                        if (value < check["nmin"]) {
                            return false;
                        }
                    }
                    else {
                        if (value.length < check["nmin"]) {
                            return false;
                        }

                    }
                }

                // Check if value is too long
                if (check["nmax"]) {
                    if (check["type"] == "int" || check["type"] == "float") {
                        if (value > check["nmax"]) {
                            return false;
                        }
                    }
                    else {
                        if (value.length > check["nmax"]) {
                            return false;
                        }

                    }
                }

                // Check if value matches regex
                if (check["regex"]) {
                    let regex = new RegExp(check["regex"]);
                    if (!(regex.test(value))) {
                        return false;
                    }
                }

                return true;
            }
        }
    });
</script>

{% endblock %}
